.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fc;
  font-family: 'Arial', sans-serif;
  width: 100%;
}

.header-sidebar-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.cards {
  display: flex;
  align-items: center;
  margin: 20px 0;
}


.activity {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.transactions-and-transfer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.transactions {
  flex: 1;
}

.quick-transfer {
  flex: 1;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main {
    padding: 10px;
  }

  .cards,
  .activity,
  .transactions-and-transfer {
    flex-direction: column;
  }
}

.layout-container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 20%;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.middle-column {
  width: 50%;
  padding: 20px;
}

.right-column {
  width: 30%;
  padding: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.graph-container {
  margin-top: 20px;
}
